@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/../fonts/Roboto-Regular.woff2") format("woff1");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff1") format("woff2"), url("../fonts/../fonts/Roboto-Regular.woff1") format("woff1");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  color: #000;
  background-color: #fff; }

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none; }

.container {
  max-width: 1150px;
  margin: auto; }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.centered {
  width: 100%;
  text-align: center; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  margin: 0; }

.text-highlight {
  font-size: 11px;
  color: #fff;
  background-color: #3b79c3;
  border-radius: 2px;
  padding: 2px; }

.header {
  background-color: #6b6b6b; }

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0px 25px 0px; }

.header__logo {
  display: inline-block;
  width: 97px;
  height: 20px;
  background-image: url(../img/header-logo.svg);
  background-position: center;
  background-repeat: no-repeat; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.menu__item {
  margin-right: 40px; }
  .menu__item:last-child {
    margin-right: 20px; }

.menu__link {
  color: #fff;
  font-size: 14px;
  line-height: 20px; }

.intro {
  background-color: #ebebeb;
  min-height: 500px; }

.info__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__flex--bg {
    background-image: url(../img/intro.png);
    background-repeat: no-repeat;
    background-position: 695px 35px;
    min-height: 440px; }

.info__wrapper {
  padding-top: 80px; }

.info__title {
  margin: 0;
  font-size: 39px;
  line-height: 45px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 400; }

.intro__description {
  margin: 0;
  width: 550px;
  font-size: 17px;
  line-height: 26px;
  color: #333;
  margin-bottom: 30px; }

.intro__input {
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  width: 310px;
  padding: 15px 25px; }

.intro__info {
  width: 320px;
  font-size: 13px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5);
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 130px; }

.partners {
  background-color: #d3d3d3;
  min-height: 152px; }

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px; }

.partners__item:first-child {
  padding-left: 10px; }

.partners__item:last-child {
  padding-right: 10px; }

.features {
  min-height: 660px; }

.features__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  padding-left: 40px; }

.features__title {
  margin-bottom: 14px; }

.features__wrapper-class,
.features__wrapper-parents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.features__wrapper-class {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.features__wrapper-parents {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.features__description {
  width: 520px;
  margin: 0; }

.features__info {
  font-size: 12px;
  line-height: 21px;
  color: #777; }
  .features__info--top {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background-image: url(../img/features-bg-2.jpg); }
  .features__info--bottom {
    background-image: url(../img/features-bg-1.jpg); }

/*# sourceMappingURL=style.css.map */