.features__flex {
  @include flex-all-sb;
  min-height: 660px;
}

.features__wrapper {
  @include flex;
  flex-direction: column;
  &--one {
    margin-top: 50px;
    margin-left: 20px;
  }
  &--two {
    margin-right: 35px;
  }
}

.features__title {
  margin-bottom: 14px;
}

.features__figure--order {
  order: -1;
}

.features__description {
  width: 520px;
  margin: 0;
}

.features__figure--one {
  margin-top: 100px;
}

.features__img--one {
  width: 335px;
  height: 200px;
  transform: translateX(100px);
}

.features__img--two {
  width: 340px;
  height: 300px;
  transform: translateX(100px) translateY(-50px);
}

.features__figcaption--two {
  transform: translateY(-80px);
}
