.footer__menu {
  background-color: $gray-600;
  min-height: 100px;
}

.footer__flex-menu {
  padding-top: 40px;
}

.menu__item--footer {
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
  @include viewport-400 {
    margin-right: 20px;
  }
}

.footer__copiright {
  background-color: $black;
  min-height: 50px;
  &-description {
    margin: 0;
    padding-top: 15px;
    font-size: 12px;
    line-height: 20px;
    color: $gray-700;
  }
}
