.intro {
  background-color: $gray-100;
  min-height: 500px;
}

.info__flex {
  @include flex-all-sb;
  &--bg {
    background-image: url(../img/intro.png);
    background-repeat: no-repeat;
    background-position: 695px 35px;
    min-height: 440px;
  }
}

.info__wrapper {
  padding-top: 80px;
}

.info__title {
  margin: 0;
  font-size: 39px;
  line-height: 45px;
  color: $black-light;
  margin-bottom: 10px;
  font-weight: 400;
}

.intro__description {
  margin: 0;
  width: 550px;
  font-size: 17px;
  line-height: 26px;
  color: $black-light;
  margin-bottom: 30px;
}

.intro__input {
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: $white;
  border-radius: 5px;
  width: 310px;
  padding: 15px 25px;
}

.intro__info {
  width: 320px;
  font-size: 13px;
  line-height: 21px;
  color: rgba($black, 0.5);
  align-self: flex-end;
  margin-right: 130px;
}
